/* Fonts */
@font-face {
  font-family: "Inter";
  src: url( /src/fonts/inter.var.woff2 ) format( "woff2" );
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "FKRasterGrotesk";
  src: url( /src/fonts/FKRasterGroteskTrial-Sharp.otf ) format( "opentype" );
  font-weight: 100 900;
  font-style: normal;
}

/* Variabless */
:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-red: #FF3026;
  --color-orange: #F58B00;
  --color-yellow: #F5C200;
  --color-green: #1CC337;
  --color-mint: #00BDB4;
  --color-teal: #2DA7BD;
  --color-cyan: #41AFDC;
  --color-blue: #0070F5;
  --color-indigo: #5452CC;
  --color-purple: #9F4BC9;
  --color-pink: #F6234B;
  --color-brown: #977A54;
  --color-gray: #848489;

  /* Scale */
  --scale-xs: 15px;
  --scale-sm: 22px;
  --scale-md: 35px;
  --scale-lg: 41px;
  --scale-xl: 67px;

  /* Spacing */
  --space-xs: 3px;
  --space-sm: 7px;
  --space-md: 11px;
  --space-lg: 15px;
  --space-xl: 22px;

  /* Screens */
  --screen-xs: 320px;
  --screen-sm: 480px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1440px;

  /* Timing */
  --time-sh: 104ms;
  --time-lg: 551ms;
}

/* Reset */
* {
  font-family: "Inter";
  font-feature-settings: "cv03", "cv02", "cv04", "cv08", "cv09", "zero";
  /* font-smooth: never; */
  font-weight: 500;
  /* -webkit-font-smoothing: none; */
  margin: 0;
}
body {
  background-color: #EFEFEF;
}
html,
body,
main#app {
  height: 100vh;
}
.wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.counter {
  margin: 5px;
}
.button {
  height: 73px !important;
  width: 96px !important;
  margin: 5px;
}